name: Deploy Vue 3 to cPanel

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci

      - name: Build Vue
        run: npm run build

      - name: Clean old build (safe)
        run: |
          ssh ${{ secrets.CPANEL_USER }}@${{ secrets.CPANEL_HOST }} \
          "rm -rf /home/${{ secrets.CPANEL_USER }}/public_html/panel/assets \
                  /home/${{ secrets.CPANEL_USER }}/public_html/panel/index.html"

      - name: Deploy dist to cPanel
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.CPANEL_HOST }}
          username: ${{ secrets.CPANEL_USER }}
          key: ${{ secrets.CPANEL_SSH_KEY }}
          source: "dist/*"
          target: "/home/${{ secrets.CPANEL_USER }}/public_html/panel"
          strip_components: 1
